@import url("./themes/themes.scss");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;

	/* // border: 1px solid brown; */
}

html,
body {
	display: flex !important;
	height: 100% !important;
	font-family: "Open Sans", sans-serif !important;
	color: var(--color-text) !important;
	background-color: var(--color-background) !important;
	/* touch-action: pan-x pan-y; */
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: var(--color-primary) var(--color-background);
}

::selection {
	color: var(--color-selection-text);
	background-color: var(--color-selection-background);
}

a {
	color: var(--color-primary);
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	/* TODO opacity */
	background-color: var(--color-background-80);
	backdrop-filter: var(--blur);
}

#fullscreen_image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10000;

	/* // TODO opacity */
	background-color: var(--color-background-80);
	backdrop-filter: var(--blur);
}
