@import "./themes/themes";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	// border: 1px solid brown;
}

html,
body {
	display: flex;
	height: 100%;
	font-family: "Open Sans", sans-serif;
	color: var(--color-text);
	background-color: var(--color-background) !important;
	touch-action: pan-x pan-y;
	scrollbar-width: thin;
	scrollbar-color: var(--color-primary) var(--color-background);
}

// :root {
// 	background-color: var(--color-background) !important;
// }

::selection {
	color: var(--color-selection-text);
	background-color: var(--color-selection-background);
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	// TODO opacity
	background-color: var(--color-background-80);
	backdrop-filter: blur(5px);
}

#fullscreen_image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10000;

	// TODO opacity
	background-color: var(--color-background-80);
	backdrop-filter: blur(5px);
}
