$color-primary: #cfddbc;
$color-secondary: #242625;
$color-ternary: #151614;
$color-background: #111312;
$color-text: #f2f4f3;
$color-subtext: #afafaf;
$color-text-alt: #131111;

$color-shikimori: #cdd2d0;
$color-shikimori-hover: #a9abab;
$color-animego: #c33d37;
$color-animego-hover: #b03832;
$color-hanime: #d19c2e;
$color-hanime-hover: #b68628;
$color-nhentai: #ad0e33;
$color-nhentai-hover: #910f2d;

$text-size-h1: 2rem;
$text-size-h2: 1.75rem;
$text-size-h3: 1.5rem;
$text-size-h4: 1.25rem;
$text-size-h5: 1rem;
$text-size-h6: 0.875rem;

$border-none: none;
$border-transparent: 0.2rem solid transparent;
$border-default: 0.2rem solid $color-secondary;
$border-active: 0.2rem solid $color-primary;
$border: $border-default;

$margin-1: 0.5rem;
$margin-2: 1rem;
$margin: $margin-1;

$padding-1: 0.5rem;
$padding-2: 1rem;
$padding: $padding-1;

$radius-1: 1rem;
$radius-2: 2rem;
$radius: $radius-1;

$gap-1: 0.5rem;
$gap-2: 1rem;
$gap: $gap-1;
