.anime_info {
	width: 100%;
	display: flex;

	@include card;
	gap: $gap-2;

	.anime_image {
		width: 230px;
		height: 340px;
		border-radius: $radius;
	}

	.anime_info_left {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: $gap;
		flex-wrap: wrap;

		.name {
			font-size: $text-size-h3;
			font-weight: bold;
		}
	}

	.anime_info_right {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;

		flex-direction: column;
		gap: $gap-2;
	}
}

@media only screen and (max-width: 768px) {
	.anime_info {
		flex-wrap: wrap;
		justify-content: center;
	}
}
