.episode_select_container {
	width: 100%;

	.episode_select {
		width: 100%;
		background-color: var(--color-background);
		border: var(--border);
		border-radius: var(--radius);
		padding: var(--padding);
		cursor: pointer;
		transition: var(--animation);

		&:hover {
			background-color: var(--color-ternary);
			border: var(--border-secondary);
		}
	}
}

.episode_list_container {
	position: fixed;
	display: flex;
	left: 0;
	// width: 100%;
	// height: 100%;
	background-color: var(--color-background-80);
	backdrop-filter: var(--blur);
	z-index: 100000;

	.episode_list {
		// width: 250px;
		// height: 300px;
		display: flex;

		border: var(--border);
		border-radius: var(--radius);
		padding: var(--padding);
	}
}
