.header {
	position: fixed;
	top: 10px;
	left: 50%;
	translate: -50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - var(--padding) * 2);
	background-color: var(--color-background-80);
	backdrop-filter: var(--blur);
	height: 60px;
	border: var(--border);
	border-radius: var(--radius);
	padding: var(--padding);
	gap: var(--gap);
	z-index: 1000;

	.left {
		display: flex;
		align-items: center;
		gap: 4px;

		.navigate_back_button {
			color: var(--color-text);

			&:hover {
				color: var(--color-primary);
			}
		}

		.logo {
			font-size: var(--text-size-h4);
			font-weight: bold;
		}

		.dev_mode {
			width: fit-content;
			padding: 2px var(--padding);
			font-size: var(--text-size-h5);
			color: var(--color-primary);
			background-color: var(--color-secondary);
			border-radius: var(--radius);
		}
	}
	.right {
		display: flex;
		gap: var(--gap);
		padding: var(--padding);

		.settings_button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 45px;
			height: fit-content;
			color: var(--color-text);
			border: var(--border);
			background-color: transparent;
			padding: var(--padding);
			border-radius: var(--radius);

			&:hover {
				background-color: var(--color-secondary);
			}
		}

		.search_button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 45px;
			height: fit-content;
			color: var(--color-text);
			background-color: transparent;
			border: var(--border);
			border-radius: var(--radius);

			&:hover {
				background-color: var(--color-secondary);
			}
		}
	}
}
