.tooltip_container {
	position: relative;
	width: fit-content;
	display: flex;
	flex-direction: column;

	.tooltip {
		width: max-content;
		min-height: 40px;
		max-width: 300px;
		text-wrap-mode: nowrap;
		position: absolute;

		// TODO opacity
		background-color: var(--color-secondary);
		backdrop-filter: blur(5px);
		border-radius: var(--radius);
		padding: var(--padding);
		z-index: 100000;
	}

	.tooltip[data-position="top"] {
		top: -50px;
	}
	.tooltip[data-position="bottom"] {
		bottom: -70px;
	}

	.showed {
	}
}
