.container {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	// TODO opacity
	background-color: var(--color-background);
	backdrop-filter: blur(5px);
	z-index: 10;
	padding: var(--padding);

	.floating_search_bar {
		margin-top: 70px;
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: var(--gap);
		max-height: 90dvh;
		background-color: var(--color-background);
		border: var(--border-ternary);
		border-radius: var(--radius);
		padding: var(--padding);

		.search_form {
			display: flex;
			justify-content: space-between;
			background-color: transparent;
			border: var(--border-ternary);
			border-radius: var(--radius);
			padding: var(--padding);
			transition: all 200ms;

			&:focus-within {
				border: var(--border-secondary);
			}
			.search_input {
				width: 100%;
				color: var(--color-text);
				background-color: transparent;
				font-size: var(--text-size-h5);
				border: none;
				outline: none;
			}
			.search_actions {
				display: flex;
				gap: var(--gap);

				.search_button {
					border: none;
					padding: none;
				}
			}
		}

		.results {
			width: 100%;
			height: 100dvh;
			overflow-y: scroll;
		}
	}
}
