.button {
	display: flex;
	align-items: center;
	width: fit-content;
	height: 40px;

	padding: $padding;
	border-radius: 12px;
	border: none;
	gap: $gap;
	color: $color-text-alt;
	background-color: $color-primary;
	transition: all 200ms;
	font-weight: 600;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: $color-primary;
		background-color: $color-secondary;
	}

	&:active {
		transform: scale(97%);
	}
}

.secondary {
	color: $color-text;
	background-color: $color-secondary;

	&:hover {
		color: $color-text;
		background-color: $color-secondary;
	}
}

.animego {
	color: $color-text;
	background-color: $color-animego;

	&:hover {
		color: $color-text;
		background-color: $color-animego-hover;
	}
}
.hanime {
	color: $color-text;
	background-color: $color-hanime;

	&:hover {
		color: $color-text;
		background-color: $color-hanime-hover;
	}
}
.nhentai {
	color: $color-text;
	background-color: $color-nhentai;

	&:hover {
		color: $color-text;
		background-color: $color-nhentai-hover;
	}
}

.shikimori {
	color: $color-primary;
	background-color: $color-shikimori;

	&:hover {
		color: $color-primary;
		background-color: $color-shikimori-hover;
	}
}
