.button {
	display: flex;
	width: fit-content;
	height: 40px;
	justify-content: center;
	align-items: center;

	padding: var(--padding);
	border-radius: 12px;
	border: none;
	gap: var(--gap);
	color: var(--color-alttext);
	background-color: var(--color-primary);
	transition: all 200ms;
	font-weight: 600;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		color: var(--color-primary);
		background-color: var(--color-secondary);
	}

	&:active {
		transform: scale(97%);
	}
}

.button[data-variant="ternary"] {
	padding: 12px 8px;
	color: var(--color-text);
	background-color: transparent;
	border: var(--border-ternary);

	&:hover {
		color: var(--color-text);
		background-color: var(--color-ternary);
		border: var(--border-secondary);
	}
}

.button[data-variant="transparent"] {
	background-color: transparent;
	border: transparent;

	&:hover {
		color: var(--color-primary);
	}
}

.button[data-variant="secondary"] {
	color: var(--color-text);
	background-color: var(--color-secondary);

	&:hover {
		color: var(--color-text);
		background-color: var(--color-secondary);
	}
}

.button[data-variant="animego"] {
	color: var(--color-text);
	background-color: var(--color-animego);

	&:hover {
		color: var(--color-text);
		background-color: var(--color-animego)-hover;
	}
}
.button[data-variant="hanime"] {
	color: var(--color-text);
	background-color: var(--color-hanime);

	&:hover {
		color: var(--color-text);
		background-color: var(--color-hanime)-hover;
	}
}
.button[data-variant="nhentai"] {
	color: var(--color-text);
	background-color: var(--color-nhentai);

	&:hover {
		color: var(--color-text);
		background-color: var(--color-nhentai)-hover;
	}
}

.button[data-variant="shikimori"] {
	color: var(--color-primary);
	background-color: var(--color-shikimori);

	&:hover {
		color: var(--color-primary);
		background-color: var(--color-shikimori)-hover;
	}
}
