.floating_search_bar_container {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.floating_search_bar {
		width: 60%;
		height: 70%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: start;
		gap: $gap;

		background-color: $color-ternary;
		border-radius: $radius;
		padding: $padding-2;

		.search_form {
			display: flex;
			gap: $gap;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 55px;
			padding: 5px;
			background-color: transparent;
			border: $border;
			border: $border;
			border-radius: $radius;

			&:focus-within {
				border: $border-active;
			}

			.left {
				display: flex;
				gap: $gap;
				align-items: center;
				width: 100%;
				height: 100%;
				padding: 5px;

				.search_icon {
					color: $color-subtext;
				}

				.search_input {
					width: 100%;
					height: 100%;
					font-family: inherit;
					font-weight: 600;
					color: $color-text;
					background-color: transparent;
					border: none;
					outline: none;

					&::placeholder {
						font-size: $text-size-h6;
						color: $color-subtext;
					}
				}
			}

			.right {
				display: flex;
				gap: $gap;
				justify-content: flex-end;
				align-items: center;
				width: fit-content;
				height: 100%;
				padding: 0 5px;

				.search_button {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 50px;
					height: 100%;
					padding: 2px 5px;
					font-family: inherit;
					font-weight: 600;
					color: $color-text-alt;
					cursor: pointer;
					background-color: $color-primary;
					border: 2px solid transparent;
					border-left: 0;
					border-radius: $radius;
					transition: all 200ms;
				}
			}
		}

		.search_results {
			width: 100%;
			height: 100%;
			overflow-y: scroll;
		}
	}
}
