.anime_card {
	position: relative;
	max-width: 230px;
	height: 400px;
	color: var(--color-text);
	text-decoration: none;

	.anime_image {
		width: 100%;
		height: 85%;
		border-radius: var(--radius);
	}

	.info_container {
		position: absolute;
		display: flex;
		justify-content: space-between;
		padding: 2px 10px;
		top: 10px;
		left: 0;
		width: 100%;

		.user_status {
			min-width: 15px;
			padding: 2px 5px;
			border-radius: var(--radius);
			background-color: var(--color-secondary);
		}
		.user_episodes {
			min-width: 15px;
			padding: 2px 5px;
			border-radius: var(--radius);
			background-color: var(--color-secondary);
		}
	}

	.anime_title {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		-moz-box-orient: vertical;
	}
}

.context_menu {
	width: 180px;
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 8px;

	background-color: var(--color-ternary);
	border: var(--border-secondary);
	border-radius: var(--radius);
	list-style: none;
	z-index: 10;

	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		padding: 8px;
		border-radius: 8px;

		.label {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 4px;
		}

		&:hover {
			background-color: var(--color-secondary);
		}
	}
}

@media only screen and (max-width: 768px) {
	.anime_card {
		display: flex;
		min-width: 100%;
		height: 250px;

		.anime_image {
			width: 150px;
			height: 100%;
		}

		.info_container {
			width: 165px;
		}
	}
}
