.global_layout {
	display: flex;
	gap: $gap-2;
	width: 100dvw;
	padding: $padding-2;
	overflow-x: hidden;

	.main {
		width: 100%;

		@include card;
	}

	.right_sidebar {
		@include card;
	}
}

@media screen and (max-width: 768px) {
	.global_layout {
		flex-direction: column;
		padding: $padding-1;
	}

	.main {
		margin-bottom: 70px;
	}
}
