.anime_card {
  position: relative;
}

.anime_card_hover_container {
  position: absolute;
  top: 10px;
  left: 50%;
  min-width: calc(100% - var(--padding) * 2);
  height: 50px;
  opacity: 0 !important;
  translate: -50% 0;
}

.anime_card_hover_container_hovered {
  opacity: 1 !important;
}
