.profile_edit_button {
	width: 100%;
	height: 50px;
	color: $color-text;
	justify-content: center;
	background-color: transparent;
	font-weight: normal;
	border: $border;
	border-radius: 16px;

	&:hover {
		color: $color-text;
		background-color: $color-ternary;
		border: $border-secondary;
	}
}
