.bottom_navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 10px;
	left: 50%;
	translate: -50%;
	gap: var(--gap-2);
	max-width: 90%;
	height: 70px;
	padding: var(--padding);
	border: var(--border-ternary);
	border-radius: var(--radius-2);
	background-color: var(--color-background-80);
	backdrop-filter: var(--blur);
	z-index: 1000;

	.navitem {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 45px;
		padding: var(--padding-1);
		color: var(--color-text);

		cursor: pointer;
		text-decoration: none;
		border: var(--border-transparent);
		border-radius: var(--radius-2);
		transition: var(--animation);

		.profile_image {
			width: 40px;
			height: 40px;
			// border: var(--border-ternary);
			border-radius: var(--radius);
			background-color: transparent;
		}

		&:hover {
			background-color: var(--color-ternary);
		}
	}
	.active {
		width: 100px;
		background-color: var(--color-ternary-80);
		backdrop-filter: var(--blur);
		padding: var(--padding-1);
	}
}
