.profile_info_card {
	display: flex;
	gap: var(--gap);
	width: 100%;
	height: fit-content;
	padding: var(--padding);
	border: var(--border);
	border-radius: 16px;

	.user_image {
		width: 100px;
		height: 100px;

		border-radius: var(--radius);
	}

	.info {
		display: flex;
		flex-direction: column;
		width: 100%;

		.first_line {
			display: flex;
			justify-content: flex-start;
			gap: var(--gap);

			.nickname {
				font-size: var(--text-size-h4);
				font-weight: bold;
			}

			.last_online_at {
				width: 200px;
				height: 200px;
				font-size: var(--text-size-h6);
				font-weight: bold;
				color: var(--color-text);
				background-color: var(--color-primary);
				border-radius: var(--radius);
				padding: 4px 4px;
			}
		}

		.second_line {
			display: flex;
			justify-content: space-between;

			.about {
				font-size: var(--text-size-h5);
				color: var(--color-subtext);
			}
		}

		.third_line {
			display: flex;
			justify-content: flex-start;

			.about {
				font-size: var(--text-size-h5);
				color: var(--color-text);
			}
		}
	}
	.user_actions {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: var(--gap);

		.message_button {
			width: 42px;
			height: 42px;
			justify-content: center;
			align-items: center;
			color: var(--color-text);
			border: var(--border);
			padding: 0;
			background-color: transparent;

			&:hover {
				border: var(--border-secondary);
				background-color: var(--color-ternary);
			}

			svg {
				width: 50%;
				height: 50%;
			}
		}

		.profile_edit_button {
			width: 42px;
			height: 42px;
			justify-content: center;
			align-items: center;
			color: var(--color-text);
			border: var(--border);
			padding: 0;
			background-color: transparent;

			&:hover {
				border: var(--border-secondary);
				background-color: var(--color-ternary);
			}
		}
	}
}
