html[theme="catppuccin-dark"] {
	--color-primary: #b4befe;
	--color-secondary: #1e1e2e;
	--color-ternary: #181825;
	--color-background: #11111b;
	--color-text: #cdd6f4;
	--color-subtext: #a6adc8;

	--color-selection-text: #11111b;
	--color-selection-background: #94a2f0;
}
