html[theme="catppuccin"] {
	--color-primary: #b4befe;
	--color-secondary: #45475a;
	--color-ternary: #313244;
	--color-background: #1e1e2e;
	--color-background-80: #1e1e2ec0;

	--color-text: #cdd6f4;
	--color-subtext: #a6adc8;

	--color-selection-text: #1e1e2e;
	--color-selection-background: #94a2f0;
}
