// $color-primary: #5f85db;
// $color-secondary: #1d1d1d;
// $color-ternary: #141514;
// $color-background: #0a0a0a;

// COLORS
html {
	--color-primary: #9088f4;
	--color-secondary: #3a2d47;
	--color-ternary: #2b2332;
	--color-ternary-80: #2b2332c0;
	--color-background: #241e2a;
	--color-background-80: #241e2ac0;
	--color-text: #f2f4f3;
	--color-subtext: #afafaf;
	--color-alttext: #241e2a;
	--color-selection-text: #241e2a;
	--color-selection-background: #b5b0ff;

	--color-shikimori: #cdd2d0;
	--color-shikimori-hover: #1a4646;
	--color-animego: #c33d37;
	--color-animego-hover: #b03832;
	--color-hanime: #d19c2e;
	--color-hanime-hover: #b68628;
	--color-nhentai: #ad0e33;
	--color-nhentai-hover: #910f2d;
}

// VARIABLES
html {
	--border-none: none;
	--border-transparent: 0.2rem solid transparent;
	--border-ternary: 0.2rem solid var(--color-ternary);
	--border-secondary: 0.2rem solid var(--color-secondary);
	--border-primary: 0.2rem solid var(--color-primary);
	--border-active: var(--border-primary);
	--border: var(--border-ternary);

	--margin-1: 0.5rem;
	--margin-2: 1rem;
	--margin: var(--margin-1);

	--padding-1: 0.5rem;
	--padding-2: 1rem;
	--padding: var(--padding-1);

	--radius-1: 1rem;
	--radius-2: 2rem;
	--radius: var(--radius-1);

	--gap-1: 0.5rem;
	--gap-2: 1rem;
	--gap: var(--gap-1);

	--blur: blur(15px);

	--text-size-h1: 2rem;
	--text-size-h2: 1.75rem;
	--text-size-h3: 1.5rem;
	--text-size-h4: 1.25rem;
	--text-size-h5: 1rem;
	--text-size-h6: 0.875rem;
}
