// COLORS
html {
	--color-primary: #9088f4;
	--color-secondary: #3a2d47;
	--color-ternary: #2b2332;
	--color-ternary-80: #2b2332c0;
	--color-background: #241e2a;
	--color-background-80: #241e2ac0;
	--color-text: #f2f4f3;
	--color-subtext: #afafaf;
	--color-alttext: #241e2a;
	--color-selection-text: #241e2a;
	--color-selection-background: #b5b0ff;

	--color-shikimori: #cdd2d0;
	--color-shikimori-hover: #1a4646;
	--color-animego: #c33d37;
	--color-animego-hover: #b03832;
	--color-hanime: #d19c2e;
	--color-hanime-hover: #b68628;
	--color-nhentai: #ad0e33;
	--color-nhentai-hover: #910f2d;
}

// VARIABLES
html {
	--border-value: 0.2rem;
	--border-none: none;
	--border-transparent: var(--border-value) solid transparent;
	--border-ternary: var(--border-value) solid var(--color-ternary);
	--border-secondary: var(--border-value) solid var(--color-secondary);
	--border-primary: var(--border-value) solid var(--color-primary);
	--border-active: var(--border-primary);
	--border: var(--border-ternary);

	--scaling: 1;

	--p-1: calc(0.5rem * var(--scaling));
	--p-2: calc(0.75rem * var(--scaling));
	--p-3: calc(1rem * var(--scaling));
	--p-4: calc(1.25rem * var(--scaling));
	--p-5: calc(1.5rem * var(--scaling));
	--p-6: calc(1.75rem * var(--scaling));
	--p-7: calc(2rem; * var(--scaling));

	--p: var(--p-1);

	--m-1: calc(0.5rem * var(--scaling));
	--m-2: calc(0.75rem * var(--scaling));
	--m-3: calc(1rem * var(--scaling));
	--m-4: calc(1.25rem * var(--scaling));
	--m-5: calc(1.5rem * var(--scaling));
	--m-6: calc(1.75rem * var(--scaling));
	--m-7: calc(2rem; * var(--scaling));

	--radius-sm: 0.125rem; /* 2px */
	--radius-base: 0.25rem; /* 4px */
	--radius-md: 0.375rem; /* 6px */
	--radius-lg: 0.5rem; /* 8px */
	--radius-xl: 0.75rem; /* 12px */
	--radius-2xl: 1rem; /* 16px */
	--radius-3xl: 1.5rem; /* 24px */
	--radius-full: 9999px; /* 100% */

	--radius: var(--radius-2xl);
	--radius-2: calc(var(--radius) * 2);

	--m: var(--m-1);

	--margin-1: 0.5rem;
	--margin-2: 1rem;
	--margin: var(--margin-1);

	--padding-1: 0.5rem;
	--padding-2: 1rem;
	--padding: var(--padding-1);

	--gap-1: 0.5rem;
	--gap-2: 1rem;
	--gap: var(--gap-1);

	--blur: blur(15px);
	--shadow: 3px 4px 10px 0px rgba(34, 60, 80, 0.2);
	--shadow-2: 3px 4px 10px 0px rgba(34, 60, 80, 0.8);

	--width: calc(100% - var(--padding) * 2);

	--animation-value: 250ms;
	--animation: background-color var(--animation-value), scale var(--animation-value),
		color var(--animation-value), transform var(--animation-value), border var(--animation-value),
		height var(--animation-value), width var(--animation-value);

	--text-size-h1: 2rem;
	--text-size-h2: 1.75rem;
	--text-size-h3: 1.5rem;
	--text-size-h4: 1.25rem;
	--text-size-h5: 1rem;
	--text-size-h6: 0.875rem;
}
