html[theme="pastel-green"] {
	--color-primary: #b8d67f;
	--color-secondary: #7c856a;
	--color-ternary: #41473e;
	--color-ternary-80: #41473ec0;
	--color-background: #353834;
	--color-background-80: #353834c0;
	--color-text: #dde7c8;
	--color-subtext: #929e7b;
	--color-alttext: #241e2a;
	--color-selection-text: #241e2a;
	--color-selection-background: #c0ec6e;
}
