html[theme="pastel-red"] {
	--color-primary: #bb7447;
	--color-secondary: #5e4f51;
	--color-ternary: #46383a;
	--color-ternary-80: ##46383ac0;
	--color-background: #2f2325;
	--color-background-80: #2f2325c0;
	--color-text: #f2f4f3;
	--color-subtext: #afafaf;
	--color-alttext: #241e2a;
	--color-selection-text: #241e2a;
	--color-selection-background: #b5b0ff;
}
