html[theme="tokyo-night"] {
	--color-primary: #b198dc;
	--color-secondary: #1e1e2e;
	--color-ternary: #1a1b26;
	--color-background: #16161e;
	--color-background-80: #16161ec0;
	--color-text: #abcaf5;
	--color-subtext: #78766d;

	--color-selection-text: #16161e;
	--color-selection-background: #ac8ce3;
}
