.more_button {
	width: 100%;
}

.anime_user_rates {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	width: 100%;

	.anime_filters {
		justify-content: flex-start;
		flex-wrap: nowrap;
		overflow-x: scroll;
	}
}

.filters_buttons_group {
	justify-content: flex-start;

	overflow-x: scroll;
	flex-wrap: nowrap;
}
