.episodes_group {
	width: 100%;
	// height: 80px;
	flex-wrap: nowrap !important;
	overflow-x: scroll;
	overflow-y: hidden;

	button {
		flex-shrink: 0 !important;
	}
}

.video_player {
	width: 100%;
}
