.watch_bottom_sheet {
	width: 100%;
	min-height: 100px;
	max-height: 70%;

	.content {
		display: flex;
		flex-direction: column;
		gap: var(--gap);

		.selects {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: var(--gap);
			overflow-x: auto;
		}
	}
}

.episodes_group {
	width: 100%;
	// height: 80px;
	flex-wrap: nowrap !important;
	overflow-x: scroll;
	overflow-y: hidden;

	button {
		flex-shrink: 0 !important;
	}
}

.video_player {
	width: 100%;
	height: 100%;

	border-radius: var(--radius);
}
