.basecomponent {
  width: fit-content;
  height: fit-content;
}

.touchable {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.border_default {
  border: 2px solid var(--secondary);
}

.border_active {
  border: 2px solid var(--accent);
}
