.basecomponent {
  width: fit-content;
  height: fit-content;
  // width: 150px;
  // height: 40px;
  padding: var(--padding-1);
}

.touchable {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.border_default {
  border: var(--border-default);
}

.border_active {
  border: var(--border-active);
}

.radius_1 {
  border-radius: var(--radius-1);
}

.radius_2 {
  border-radius: var(--radius-2);
}
