.user_info_card {
	display: flex;
	gap: $gap;
	width: 100%;
	height: fit-content;
	padding: $padding;
	border: $border;
	border-radius: $radius;

	.user_image {
		width: 250px;
		border-radius: $radius;
	}

	.info {
		display: flex;
		flex-direction: column;
		width: 100%;

		.first_line {
			display: flex;
			justify-content: space-between;

			.nickname {
				font-size: $text-size-h3;
				font-weight: bold;
			}

			.last_online_at {
				font-size: $text-size-h5;
				color: $color-subtext;
			}
		}

		.second_line {
			display: flex;
			justify-content: space-between;

			.about {
				font-size: $text-size-h5;
				color: $color-subtext;
			}
		}
		.dev_mode {
			width: fit-content;
			padding: $padding;
			font-size: $text-size-h5;
			color: $color-primary;
			background-color: $color-secondary;
			border-radius: $radius;
		}
	}
}
