.heading_section {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: var(--gap);

	border: var(--border);
	border-radius: var(--radius);
	padding: var(--padding);
	color: var(--color-text);

	.header {
		display: flex;
		justify-content: space-between;
		.title {
			font-size: var(--text-size-h4);
			font-weight: bold;
		}
		.actions {
		}
	}
}
