.bottom_navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 10px;
	left: 50%;
	translate: -50%;
	gap: var(--gap-2);
	max-width: 90%;
	height: 70px;
	padding: var(--padding);
	border: var(--border);
	border-radius: var(--radius-2);
	background-color: var(--color-secondary);

	.navitem {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 45px;
		padding: var(--padding-1);
		color: var(--color-text);
		cursor: pointer;

		border: var(--border-transparent);
		border-radius: var(--radius-2);
		transition: all 200ms;

		&:hover {
			background-color: var(--color-ternary);
		}
	}

	.active {
		width: 100px;
		background-color: var(--color-ternary);
		padding: var(--padding-1);
	}
}
