.add_to_container {
	display: flex;
	align-items: center;
	gap: $gap;
	.add_to_text {
		color: $color-subtext;
	}

	.add_to_select {
		background-color: $color-secondary;
		border-radius: $radius-2;
		padding: $padding;
		transition: all 400ms !important;

		* {
			transition: all 400ms !important;
		}

		& > button {
			width: min-content;
			height: 35px !important;
			background-color: transparent !important;
			border: $border-transparent;
			border-radius: $radius-2;
			transition: all 400ms !important;

			& > span {
				width: 0;
				opacity: 0;
			}
		}

		& > button:hover {
			background-color: $color-ternary !important;
			border: $border-transparent;
			border-radius: $radius-2;

			& > span {
				width: 55px;
				opacity: 1;
			}
		}
	}
}

.user_selects {
	width: 100%;
	display: flex;
	gap: $gap;
}
