.navbar {
	display: flex;
	flex-direction: column;
	gap: $gap;

	.navitem {
		display: flex;
		width: 100%;
		padding: $padding-1;
		color: $color-text;
		cursor: pointer;
		background-color: transparent;

		border: $border-transparent;
		border-radius: $radius;

		&:hover {
			background-color: $color-secondary;
		}
	}

	.active {
		background-color: $color-secondary;
	}
}
