.sidebar_container {
  min-width: 70px;
  min-height: 100%;

  .sidebar {
    position: fixed;
    min-width: 70px;
    height: 97dvh;
  }
}

.sidebar_container:has(.sidebar:hover) {
  min-width: 250px;
}

.sidebar:hover {
  min-width: 250px;
}

.profile {
  width: 100%;
}
