.sidebar_container {
	min-width: 70px;
	height: 100dvh;

	// background-color: aqua;background-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-colorbackground-color

	.sidebar {
		position: fixed;
		display: flex;
		flex-direction: column;
		gap: $gap-2;
		align-items: center;
		justify-content: start;
		min-width: 70px;
		// height: 98%; work normal
		height: 96%;
		top: 50%;
		translate: 0 -50%;
		padding: $padding;
		border: $border;
		border-radius: $radius;
		background-color: transparent;

		.shikimori_icon {
			width: 100%;
			height: 45px;
			padding: 5px;
			margin-top: $gap;
			color: white;
			border: $border;
			border-inline-start: 2px solid white;
			border-radius: 12px;
		}

		.divider {
			width: 100%;
			height: 5px;
			background-color: $color-secondary;
			border-radius: $radius;
		}
	}
}

.spacer {
	height: 100%;
}

.profile {
	// width: 100%;widthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidthwidth
}
