.sidebar_container {
  width: 70px;
  height: 97dvh;

  .sidebar {
    position: fixed;
    width: 70px;
    height: 100%;
  }
}

.sidebar_container:has(.sidebar:hover) {
  width: 250px;
}

.sidebar:hover {
  width: calc(250px - var(--padding-2) * 2);
}
