.select {
	border: var(--border-ternary);
	border-radius: 12px;
	padding: var(--padding);
	outline: none;
	color: var(--color-text);
	background-color: var(--color-background);

	transition:
		background-color 200ms,
		border 200ms;

	&:hover {
		border: var(--border-secondary);

		background-color: var(--color-ternary);
	}
}
