.global_layout {
	display: flex;
	gap: var(--gap-2);
	width: 100dvw;
	min-height: 100dvh;
	padding: var(--padding-2);
	overflow-x: hidden;

	.main {
		width: 100%;
	}

	.right_sidebar {
	}
}

@media screen and (max-width: 768px) {
	.global_layout {
		flex-direction: column;
		padding: var(--padding-1);
		gap: var(--gap);
	}

	.main {
		margin-top: 70px;
		margin-bottom: 80px;
	}
}
