.divider[data-orientation="horizontal"] {
	margin: $margin 4px;
	border-bottom: 2px solid $color-secondary;
	border-radius: $radius;
}

.divider[data-orientation="vertical"] {
	margin: 4px $margin;
	border-right: 2px solid $color-secondary;
	border-radius: $radius;
}
