.anime_card {
	display: flex;
	justify-content: flex-start;
	position: relative;
	width: 100%;
	height: 180px;
	color: var(--color-text);
	cursor: pointer;

	gap: var(--gap);
	padding: var(--padding);
	border: var(--border);
	border-radius: var(--radius);
	transition:
		background-color 0.2s,
		border 0.2s;

	&:hover {
		background-color: var(--color-ternary);
		border: var(--border-secondary);
	}

	.poster {
		min-width: 110px;
		height: 100%;
		border-radius: var(--radius);
	}

	.info {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		color: var(--color-text);
		text-decoration: none;
		gap: var(--gap);

		.title {
			width: 100%;
			height: fit-content;
			display: -webkit-box; /* Use flexbox layout */
			-webkit-box-orient: vertical; /* Set the box orientation to vertical */
			-webkit-line-clamp: 2; /* Limit to 2 lines */
			overflow: hidden; /* Hide overflow text */
			text-overflow: ellipsis;
			font-size: var(--text-size-h5);
			font-weight: bold;
		}

		.description {
			width: 100%;
			height: fit-content;
			display: -webkit-box; /* Use flexbox layout */
			-webkit-box-orient: vertical; /* Set the box orientation to vertical */
			-webkit-line-clamp: 4; /* Limit to 2 lines */
			overflow: hidden; /* Hide overflow text */
			text-overflow: ellipsis;
			text-wrap: wrap;
			font-size: var(--text-size-h5);
		}

		.subinfo {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: var(--gap);

			.line {
				width: 100%;
				height: 30px;
				display: flex;
				align-items: center;
			}
		}
	}
}
